.container {
    display: flex;
    background-color: var(--secondary);
    padding: 0.5rem;
    box-shadow: 0px 0px 45px -15px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 45px -15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 45px -15px rgba(0,0,0,1);
}

.items {
    display: flex;
    gap: 1rem;
}

.item {
    display: flex;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.isActive {
    background-color: var(--tertiary);
}